@{
    ViewData["Title"] = "Domovská stránka";
}



<div class="conteiner-fluid bg-secondary bg-opacity-25 w-100">
    <div class="container p-3 text-center">
        <div class="text-center p-3">
            <h1 class="my-color display-1 fw-bold">Vítej v Evidenci pojištění</h1>
        </div>

        <hr />
        
        <p class="fw-bolder">Pro přihlášení klikněte níže</p>
        <a class="btn my-btn " asp-area="" asp-controller="Account" asp-action="Login">Přihlašení</a>
    </div>
</div>