@model LoginViewModel

@{
	ViewData["Title"] = "Přihlášení";
}

<div class="container-fluid bg-secondary bg-opacity-50 shedow-max m-auto">
	<div class="container d-flex justify-content-center">
		<div class="row">
			<div class="form-signin my-color my-input">
				<form class="d-flex flex-column gap-2" asp-route-returnUrl="@ViewData["ReturnUrl"]">
					<div class="d-flex justify-content-center">
						<img class="mb-1" src="~/images/Logo-projekt.webp" alt="logo-panák" width="100%" />
					</div>
					<h2 class="mb-4 fw-normal text-center display-4 my-color">Přihlášení</h2>
					<div asp-validation-summary="All" class="text-danger"></div>
					<div class="form-floating">
						<input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
						<label asp-for="Email" for="floatingInput">Email</label>
					</div>
					<div class="form-floating">
						<input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Heslo" />
						<label asp-for="Password" for="floatingPassword" class="form-label">Heslo</label>
					</div>
					<div class="col-form-check input">
						<input asp-for="RememberMe" class="form-check-input">
						<label asp-for="RememberMe" class="form-check-label"></label>
					</div>
					<div class="form-signin">
						<button type="submit" class="my-btn fs-4 w-100 my-color">Přihlásit se</button>
					</div>
					<a asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="btn fs-5 my-color">Registrace</a>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}